  .dashboard {
    padding: 20px 30px;
    text-align: center;
  }

  .galery {
    padding-bottom: 78px;
    padding: 20px 30px;
  }
  .text{
    text-align: center;
    margin: 0rem;
    padding: 2rem 0 1rem 0;
  }